ase==3.23.0
cycler==0.11.0
dtaidistance==2.3.12
findpeaks==2.6.5
Flask==2.2.2
h5py==3.7.0
ipynbname==2023.2.0.0
ipython==8.12.3
ipywidgets==7.6.5
joblib==1.3.2
jupytext==1.14.5
lightgbm==4.5.0
lmfit==1.2.0
matplotlib==3.7.0
natsort==8.4.0
nbformat==5.10.4
numba==0.58.1
numpy==2.1.1
openTSNE==0.7.1
openTSNE==1.0.2
pandas==2.2.2
parsy==2.1
PuLP==2.7.0
pyGDM2==1.1.6
pymatgen==2023.3.23
pyMCR==0.5.1
scikit_learn==1.2.1
scipy==1.10.0
seaborn==0.13.2
SQLAlchemy==2.0.31
statsmodels==0.14.0
tensorflow==2.17.0
termcolor==2.4.0
toml==0.10.2
uncertainties==3.1.7
vasppy==0.7.1.0
xraydb==4.5.4
